.general-button {
    border: none;
    background-color: #ffffff;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
}